
# Copy to .env in frontend root

VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://vgventkqdwzzyxkdughg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZndmVudGtxZHd6enl4a2R1Z2hnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxODAxMjgsImV4cCI6MjEwNTc1NjEyOH0.XC7JxQtlnOY32xxptt5rkLYASrOuG1R4RLi37eSbb4o
